@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Login css */

.body{
  box-sizing: border-box;
  font-family: 'Poppins';
}
.App {
  font-family: 'Poppins';
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
}
 
.login-container {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  border-radius: 8px;
  position: absolute;
  top: 20%;
  left: 25%;
  box-sizing: border-box;
  
  backdrop-filter: blur(14px) saturate(200%);
  -webkit-backdrop-filter: blur(14px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.41);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.login{
    background-image: url('https://images.unsplash.com/photo-1519681393784-d120267933ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1124&q=100');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.login-props{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.checkbox{
  width: 20px;
  height: 20px;
}
.remember{
  display: flex;
  align-items: center;
}
h2 {
  margin-bottom: 20px;
}

.log-btn{
  border-radius: 20px !important;
}
 
.form-group {
  margin-bottom: 15px;
  text-align: left;
  box-sizing: border-box;
}

.form-group .log-btn{
  
}
 
label {
  display: block;
  margin-bottom: 5px;
}
 
input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
  height: 50px !important;

}
 
button {
  width: 100%;
  padding: 10px;
  background-color: #02468f;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}
 
button:hover {
  background-color: #0056b3;
}
 
.error {
  color: red;
  margin-bottom: 10px;
  font-size: 14px;
}
 
/* SideBar */
.table-props{
  display: flex;
  justify-content: space-between;
}

select {
  padding: 5px 10px;
  font-size: 12px;
  outline: none;
  height: 35px;
  background: none;
  border-radius: 10px;
  font-family: 'Poppins';
}
option{
  border-radius: 10px;

}
.filter{
  display: flex;
  align-items: center;
  align-content: center;
}
.filter-icon{
  margin-top: 0;
}
.filter label {
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 0 !important;
}

/* action buttons */

button svg{
  margin: 0 !important;
  font-size: 20px;
}
button{
  box-sizing: border-box;
  justify-items: center;
  align-content: center;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin: 3px;
}
.edit-btn{
  background-color: rgb(9, 134, 9);
}
