
.approvallist{

    width: 79%;
    background-color: #f5f5f5;
    height: 100%;
    overflow-y: scroll;
    
}
.approval-collapsed{
  min-width: 94%;
  background-color: #f5f5f5;
  min-height: 600px;  
  transition: all 100ms;
}
.approval-list-contents{
    padding: 10px 20px;
}
.approval-header{
    text-align: center;
}

/* Employee Table */
.table-container-approval {
    overflow-x: auto;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
   
  .stylish-table-approval {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    font-family: Arial, sans-serif;
  }
   
  .stylish-table-approval thead {
    background-color: #2c3e50;
    color: white;
  }
   
  .stylish-table-approval th,
  .stylish-table-approval td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
  }
   
  .stylish-table-approval tr:hover {
    background-color: cornflowerblue;
    color: #2c3e50;
    cursor: pointer;
  }
   
  .stylish-table-approval th {
    font-size: 16px;
    font-weight: bold;
  }
   
  .stylish-table-approval td {
    font-size: 14px;
    color: #2c3e50;
  }
   
  .approval-list{
    display: inline;
    width: 80%;
    margin-left: 20%;
  }

  .approval-buttons Button{
    
    width: fit-content;
  }
  .btn-approve{
    display: flex;
    border-radius: 10px !important;
    align-items: center;
    justify-content: space-evenly;
    gap: 6px;
  }

  .cancel-btn{
    display: flex;
    border-radius: 10px !important;
    align-items: center;
    justify-content: space-evenly;
    gap: 6px;
  }  .preview-btn{
    display: flex;
    border-radius: 10px !important;
    align-items: center;
    justify-content: space-evenly;
    gap: 6px;
    background-color: blue;
  }

  .approval-buttons{
    display: flex;
    justify-content: space-evenly;
    
    
  }
