
.Emplist{

    width: 79%;
    background-color: #f5f5f5;
    height: 100%;
    overflow-y: scroll;
    transition: all 200ms;
    
}
.emp-collapsed{
  min-width: 94%;
  background-color: #f5f5f5;
  min-height: 600px;  
  transition: all 200ms;
}
.emp-list-contents{
    padding: 10px 20px;
    box-sizing: border-box;
}
.Emp-header{
    text-align: center;
}

/* Employee Table */
.table-container {
    overflow-x: auto;
    margin: 20px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
   
  .stylish-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    font-family: 'Poppins';
  }
   
  .stylish-table thead {
    background-color: #1776d4;
    color: white;
  }
   
  .stylish-table th,
  .stylish-table td {
    padding: 12px 15px;
    /* border-bottom: 1px solid #ddd; */
    text-align: center;
  }
   
   
  .stylish-table th {
    font-size: 16px;
    font-weight: bold;
  }
   
  .stylish-table td {
    font-size: 14px;
    color: #2c3e50;
  }
  
  .stylish-table tr:nth-child(even)
  {
    background-color: rgba(228, 240, 245, 0.783);
  }

  .table-props{
    display: flex;
    justify-content: space-between;
  }

  .page-list{
    display: inline;
    width: 99%;
  }

  .button-add{
    width: 130px !important;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    box-sizing: border-box;
    font-family: 'Poppins';
    border-radius: 20px;
    font-size: 14px;
    background-color: rgb(136, 64, 204);
  }
  .button-add svg{
    margin: 0 0;
    
  }