
.sitelist{

    width: 79%;
    background-color: #f5f5f5;
   
    height: 100%;
    box-sizing: border-box;
    
}
.site-list-contents{
    padding: 10px 20px;
    box-sizing: border-box;
}
.site-header{
    text-align: center;
    box-sizing: border-box;
}
.site-collapsed{
  width: 94%;
  background-color: #f5f5f5;
  min-height: 600px;  
  transition: all 200ms;
  box-sizing: border-box;
}

/* Employee Table */
.table-container-site {
    overflow-x: auto;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }
   
  .stylish-table-site {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
  }
   
  .stylish-table-site thead {
    background-color: #2c3e50;
    color: white;
  }
   
  .stylish-table-site th,
  .stylish-table-site td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
  }
   
  .stylish-table-site tr:hover {
    background-color: cornflowerblue;
    color: #2c3e50;
    cursor: pointer;
  }
   
  .stylish-table-site th {
    font-size: 16px;
    font-weight: bold;
  }
   
  .stylish-table-site td {
    font-size: 14px;
    color: #2c3e50;
  }
   
  .site-list{
    display: inline;
    width: 80%;
    margin-left: 20%;
    box-sizing: border-box;
  }