
.adminlist{

    width: 79%;
    background-color: #f5f5f5;
    height: 100%;
    overflow-y: scroll;
    
}
.admin-collapsed{
  width: 94%;
  background-color: #f5f5f5;
  min-height: 600px;  
  transition: all 100ms;
}
.admin-list-contents{
    padding: 10px 20px;
}
.admin-header{
    text-align: center;
}

/* Employee Table */
.table-container-admin {
    overflow-x: auto;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
   
  .stylish-table-admin {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    font-family: Arial, sans-serif;
  }
   
  .stylish-table-admin thead {
    background-color: #2c3e50;
    color: white;
  }
   
  .stylish-table-admin th,
  .stylish-table-admin td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
  }
   
  .stylish-table-admin tr:hover {
    background-color: cornflowerblue;
    color: #2c3e50;
    cursor: pointer;
  }
   
  .stylish-table-admin th {
    font-size: 16px;
    font-weight: bold;
  }
   
  .stylish-table-admin td {
    font-size: 14px;
    color: #2c3e50;
  }
   
  .admin-list{
    display: inline;
    width: 80%;
    margin-left: 20%;
  }

  .action-button Button{
    
    width: 35%;
  }
