@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Login css */

.body{
  box-sizing: border-box;
  font-family: 'Poppins';
}
.App {
  font-family: 'Poppins';
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
}
 
.login-container {
  width: 100%;
  max-width: 600px;
  background: #6dcae4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 25%;
  left: 25%;
  box-sizing: border-box;

}
 
h2 {
  margin-bottom: 20px;
}
 
.form-group {
  margin-bottom: 15px;
  text-align: left;
  box-sizing: border-box;
}
 
label {
  display: block;
  margin-bottom: 5px;
}
 
input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
  height: 50px !important;

}
 
button {
  width: 100%;
  padding: 10px;
  background-color: #02468f;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}
 
button:hover {
  background-color: #0056b3;
}
 
.error {
  color: red;
  margin-bottom: 10px;
  font-size: 14px;
}
 
/* SideBar */
 
